doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		title BairesDev employees declared country of residence
		meta(name="description", content="BairesDev employees declared country of residence.")

		meta(property='og:type' content='website')
		meta(property='og:title' content='World Map')
		meta(property='og:description' content='BairesDev employees declared country of residence.')
		meta(property='og:image' content='https://www.alotropico.com/projects/bairesdev/world/images/geo-map-maker.png')
		meta(property='og:url' content='https://www.alotropico.com/projects/bairesdev/world/')
		meta(property='og:site_name' content='World Map')

		meta(name='twitter:card' content='summary')
		meta(name='twitter:site' content='@gazeoftime')
		meta(name='twitter:title' content='World Map')
		meta(name='twitter:description' content='BairesDev employees declared country of residence.')
		meta(name='twitter:image' content='https://www.alotropico.com/projects/bairesdev/world/images/tw-img.png')

		link(rel='icon' type='image/png' href='/images/favicon.png')

	body
		main.map
			svg(data-map, width="1920", height="968")

		nav